#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 32px;
}